@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#excuse {
  font-size: 24px;
  color: #333;
}
